<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-2">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-10">
            <div class="panel panel-default ">
                <div class="panel-body">
                  
                  <iframe id="doc1.html" name="doc1.html" width="860" height="600" frameborder="0" src="/doc1.html" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="yes" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>