<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=TsdchagPfvvV76LVgEdRXBky"></script>
<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
    #container{width:1000px;height:600px;border:1px solid gray}  
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-2">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-10">
            <div class="panel panel-default ">
                <div class="panel-body">
                  
                  <div id="container"></div>  
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">  
if (typeof console == "undefined"){  
  window.console = {log: function(){}};  
}  
  
var map = new BMap.Map("container");  
map.centerAndZoom(new BMap.Point(108.75049,35.773359), 5);  
var stdMapCtrl = new BMap.NavigationControl({type: BMAP_NAVIGATION_CONTROL_SMALL})  
map.addControl(stdMapCtrl);  
//map.enableScrollWheelZoom();  
map.enableContinuousZoom();  
function getBoundary(data){  
	
	//alert(data['brief'])
    var bdary = new BMap.Boundary();  
	var name = data['brief'];
    bdary.get(name, function(rs){  
        console.log(rs);  
          
        var maxNum = -1, maxPly;
        var color = data['color'];  
        //不显示随机颜色了，设置旅游过的省份为红色，已经做了计划的省份为绿色，还没做计划的是黄色
        var t_switch = data['t_switch'];//是否已经去旅游过
	    var travels_date = data['travels_date'];//旅游时间
	    var plan_date = data['plan_date'];//计划旅游时间
	    if(t_switch == 0 ){
	    	if(plan_date ==''){
	    		//还没有计划
	    		var color = '#FCFBBB';  
	    	}else{
	    		var color = '#DBEDC7';  
	    	}
	    }else{
	    	var color = '#FBC5DC';  
	    }
	    
        var count = rs.boundaries.length;   
        for(var i = 0; i < count; i++){  
            var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 1, strokeOpacity:0.5,fillColor:color,strokeColor: "#000000"});  
            map.addOverlay(ply);    
            /*var arrPts = ply.getPoints();  
            if(arrPts.length > maxNum){  
                maxNum = arrPts.length;  
                maxPly = ply;  
            } */ 

			//开始用"mouseover","mouseout"发现,鼠标移动过快,会多个省份也高亮了.所以改成 click了
			ply.addEventListener("click", function (e) {
			    var latlng = e.point;
			    
			    var tr_html = '';
			    if(t_switch == 0 ){
			    	if(plan_date ==''){
			    		//还没有计划
			    		tr_html = '还没有去过，<a href="javascript:addplan(\''+name+'\','+data['id']+')">添加一个计划</a>吧~';
			    	}else{
			    		tr_html = '已经做了计划，要在'+plan_date+'去哦~';
			    	}
			    }else{
			    	tr_html = travels_date +'去过咯';
			    }
			    var html = name + '<br>'+tr_html;
			    var info = new BMap.InfoWindow(html, {width:220});
			    map.openInfoWindow(info, latlng);
			
			    //高亮闪烁显示鼠标点击的省
			    delay = 0;
			    for (flashTimes = 0; flashTimes < 3; flashTimes++) {
			        delay += 200;
			        setTimeout(function () {
			            ply.setFillColor("#FFFF00");
			        }, delay);
			
			        delay += 200;
			        setTimeout(function () {
			            ply.setFillColor(color);
			        }, delay);
			    }
			});
        }  
        if(maxPly){  
            map.setViewport(maxPly.getPoints());  
        }        
    });  
}  

function addplan(proname,id){
	//页面层

	layer.open({
	  type: 1,
	  title:'为'+proname+'添加旅行计划',
	  skin: 'layui-layer-rim', //加上边框
	  area: ['420px', '240px'], //宽高
	  content:'<input id="c-pro_id" type = "hidden" value="'+id+'">'+
		    '<div class="form-group" style="margin:20px 20px;">'+
		    '    <label class="control-label col-xs-12 col-sm-4">计划时间:</label>'+
		    '    <div class="col-xs-12 col-sm-8">'+
		    '<input id="c-plan_date" type="date" value="{:date(\'Y-m-d\')}"/>'+
		    // '       <input id="c-plan_date" class="datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" type="text" value="{:date(\'Y-m-d\')}">'+
		    '    </div>'+
		   ' </div>'+
		    
		   '<div class="form-group "  style="margin-top:80px ">'+

		   '     <div style="text-align:center">'+
		     '       <button  onclick = doadd('+id+') class="btn btn-success btn-embossed ">确定</button>'+
		    '    </div>'+
		   ' </div>'+
		'</form>'
	});
}

function doadd(proid){
	$.post("/index/my/doaddplan",{proid:proid,plan_date:$('#c-plan_date').val()},function(result){
	 
	    if(result.status == 1){
	    	alert('计划添加成功');
	    	//window.location.reload();  
	    }
	  },'json');
}
map.clearOverlays();  

var datas = {$provincelist};

for(var i=0;i<datas.length;i++){  
    getBoundary(datas[i]);  
}  
</script>  